<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <link href="css/style.min.css?v=1.0" rel="stylesheet">
  <title></title>
</head>

<body>

  <div id="luxy">

    <div class="modal" id="modal">
      <div class="modal__wrapper">
        <button class="modal__close follow-change base-button" id="modal_close">
          <svg class="modal__close-icon" width="20" height="20" alt="#">
            <use href="img/icon/sprite.svg#modal-close-icon"></use>
          </svg>
        </button>
        <div class="modal__inner">
          <h2 class="modal__inner-title base-title">Получите бесплатную консультацию</h2>
          <span class="modal__inner-text">Заполните форму обратную связи, в течении 3-4 минут мы вам перезвоним</span>
          <form class="feedback__form" id="feedback_form_modal">
            <div class="feedback__form-top">
              <input class="feedback__form-top-input" placeholder="Имя" type="text" name="name" required>
              <input class="feedback__form-top-input" placeholder="Телефон" type="tel" name="phone" required>
              <input class="feedback__form-top-input" placeholder="Email" type="email" name="email">
              <button class="feedback__form-submit page-button base-button" type="submit">Оставить заявку</button>
            </div>
          </form>
        </div>

        <div class="modal__success">
          <span class="modal__success-text">Спасибо, ваша заявка отправлена</span>
        </div>
      </div>
    </div>

    <header class="page-header">
      <nav class="main-nav">
        <div class="main-nav__container base-container">
          <a class="main-nav__logo-link base-link" href="index.html">
            <svg class="main-nav__logo-icon" width="137" height="30" aria-hidden="true">
              <use href="img/icon/sprite.svg#logo-icon"></use>
            </svg>
          </a>

          <div class="main-nav__nav-menu main-nav__nav-menu--mobile" id="mobile_menu">

            <a class="main-nav__logo-link main-nav__logo-link--mobile base-link" href="index.html">
              <svg class="main-nav__logo-icon" width="137" height="30" aria-hidden="true">
                <use href="img/icon/sprite.svg#logo-icon"></use>
              </svg>
            </a>

            <ul class="main-nav__nav-list base-list">
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link hover-red base-link" href="#about">О нас</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link hover-red base-link" href="#services">Наши услуги</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link hover-red base-link" href="#prices">Цены</a>
              </li>
            </ul>

            <div class="main-nav__nav-aside">
              <a class="main-nav__tel-link hover-red base-link" href="tel:8 (980) 418-74-71">8 (980) 418-74-71</a>
              <button class="main-nav__feedback-button page-button base-button" id="modal_button" type="button">Обратный звонок</button>
            </div>

          </div>

          <button class="main-nav__burger base-button" id="burger">
            <span class="main-nav__burger-line"></span>
          </button>

        </div>
      </nav>
    </header>