<footer class="page-footer">
  <section class="footer-top">
    <div class="footer-top__container base-container">
      <a class="footer-top__logo-link base-link" href="index.html">
        <svg class="footer-top__logo-icon" width="137" height="30" aria-hidden="true">
          <use href="img/icon/sprite.svg#logo-icon"></use>
        </svg>
      </a>

      <div class="footer-top__nav-menu">

        <ul class="footer-top__nav-list base-list">
          <li class="footer-top__nav-item">
            <a class="footer-top__nav-link hover-red base-link" href="#about">О нас</a>
          </li>
          <li class="footer-top__nav-item">
            <a class="footer-top__nav-link hover-red base-link" href="#services">Наши услуги</a>
          </li>
          <li class="footer-top__nav-item">
            <a class="footer-top__nav-link hover-red base-link" href="#prices">Цены</a>
          </li>
        </ul>

        <div class="footer-top__nav-aside">
          <a class="footer-top__tel-link hover-red base-link" href="tel:8 (980) 418-74-71">8 (980) 418-74-71</a>
          <button class="footer-top__feedback-button page-button base-button" id="modal_button" type="button">Обратный звонок</button>
        </div>

      </div>

    </div>
  </section>

  <section class="footer-bottom">
    <div class="footer-bottom__container base-container">
      <div class="footer-bottom__wrapper">
        <span class="footer-bottom__copyright">© Copyright 2022 “ВАШ ЗАКОН”</span>
        <a class="footer-bottom__policy base-link" href="#">Политика конфиденциальности</a>
        <a class="footer-bottom__email base-link" href="mailto:zakon@mail.ru">zakon@mail.ru</a>
        <a class="footer-bottom__isart base-link" href="https://is-art.ru/" target="_blank" rel="noreferrer">
          <span class="footer-bottom__isart-text">Разработано</span>
          <svg class="footer-bottom__isart-icon" width="52" height="22" aria-hidden="true">
            <use href="img/icon/sprite.svg#isart-icon"></use>
          </svg>
        </a>
      </div>

      <div class="footer-bottom__socials">
        <a class="footer-bottom__socials-link base-link" href="#">
          <svg class="footer-bottom__socials-icon" width="20" height="20" aria-hidden="true">
            <use href="img/icon/sprite.svg#socials-1-icon"></use>
          </svg>
        </a>
        <a class="footer-bottom__socials-link base-link" href="#">
          <svg class="footer-bottom__socials-icon" width="20" height="20" aria-hidden="true">
            <use href="img/icon/sprite.svg#socials-2-icon"></use>
          </svg>
        </a>
        <a class="footer-bottom__socials-link base-link" href="#">
          <svg class="footer-bottom__socials-icon" width="20" height="20" aria-hidden="true">
            <use href="img/icon/sprite.svg#socials-3-icon"></use>
          </svg>
        </a>
        <a class="footer-bottom__socials-link base-link" href="#">
          <svg class="footer-bottom__socials-icon" width="20" height="20" aria-hidden="true">
            <use href="img/icon/sprite.svg#socials-4-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="js/index.min.js?v=1.0"></script>

</body>

</html>