@use "../mixins";

.features {

  padding: 80px 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-weight: 800;
    font-size: 46px;
    line-height: 55px;
    color: #000000;

    @include mixins.respond-to(notDesktop) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template: auto / repeat(3, auto);
    gap: 30px;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    @include mixins.respond-to(tabletOnly) {
      display: grid;
      grid-template: repeat(2, auto) / repeat(2, auto);
      grid-template-areas:
        "feature_1 feature_2"
        "feature_3 feature_3";
      gap: 15px;

      & .features-item {
        &:nth-child(1) {
          grid-area: feature_1;
        }

        &:nth-child(2) {
          grid-area: feature_2;
        }

        &:nth-child(3) {
          grid-area: feature_3;
        }
      }
    }

  }
}