@use "../mixins";

.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  // min-height: 500px;
  // background-image: -webkit-image-set(url("../img/image/feedback_bg_1.png") 1x);

  // @supports (background-image: -webkit-image-set(url("../img/image/feedback_bg_1.webp") 1x)) {
  //   background-image: -webkit-image-set(url("../img/image/feedback_bg_1.webp") 1x);
  // }

  padding: 85px 0;
  margin: 80px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 40px 0;
    margin: 45px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: inline-block;

    max-width: 680px;

    font-weight: 800;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;

    margin: 0 0 23px 0;

    @include mixins.respond-to(notDesktop) {
      font-size: 25px;
      line-height: 30px;

      margin: 0 0 35px 0;
    }
  }

  &__subtitle {
    display: inline-block;

    max-width: 680px;

    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;

    margin: 0 0 35px 0;

    @include mixins.respond-to(notDesktop) {
      margin: 0 0 20px 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 33px;

    &-top {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mixins.respond-to(notDesktop) {
        flex-direction: column;
        gap: 25px;
      }
    }

    &-top-input {
      width: 200px;
      height: 54px;

      background: #FFFFFF;
      border-radius: 6px;

      font-family: var(--font-family-default);
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #7B5C62;

      padding: 20px 25px;

      @include mixins.respond-to(notDesktop) {
        width: 100%;
        height: 70px;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      gap: 11px;
    }

    &-bottom-caption {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;

      & p {
        padding: 0;
        margin: 0;
      }

      & a {
        color: #ad132f;
      }
    }
  }
}