@use "../mixins";

.footer-bottom {
  padding: 0 0 80px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 0;
  }

  @include mixins.respond-to(onlyDesktopS) {
    padding: 0;
  }

  &__container {
    display: flex;

    height: 100%;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
    }

    @include mixins.respond-to(tabletOnly) {
      width: fit-content !important;
      margin: 0 !important;
    }

    @include mixins.respond-to(onlyDesktopS) {
      flex-direction: column;

      width: fit-content !important;
      margin: 0 !important;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    @include mixins.respond-to(notDesktop) {
      flex-direction: column;
      align-items: flex-start;

      margin: 0 0 40px 0;
    }

    @include mixins.respond-to(onlyDesktopS) {
      flex-direction: column;
      align-items: flex-start;

      margin: 0 0 40px 0;
    }
  }

  &__copyright {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #614E51;
  }

  &__policy {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-decoration: underline;
    color: #614E51;

    transition: color 0.1s;

    &:hover {
      color: #AD132F;
      transition: color 0.1s;
    }
  }

  &__email {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-decoration: underline;
    color: #AD132F;
  }

  &__isart {
    display: flex;
    align-items: center;
    gap: 12px;

    &:hover .footer-bottom__isart-text {
      color: #AD132F;
      transition: color 0.1s;
    }

    &:hover .footer-bottom__isart-icon {
      filter: brightness(0) saturate(100%) invert(14%) sepia(90%) saturate(3937%) hue-rotate(340deg) brightness(79%) contrast(95%);
      transition: filter 0.1s;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #614E51;

      transition: color 0.1s;
    }

    &-icon {
      transition: filter 0.1s;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 25px;

    margin: 0 0 0 auto;

    @include mixins.respond-to(notDesktop) {
      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: auto 0 0 0;
    }

    @include mixins.respond-to(onlyDesktopS) {
      margin: auto 0 0 0;
    }
  }

  &__socials-link {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.5);
      transition: transform 0.3s;
    }
  }
}