@use "../mixins";

.page-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ad132f;
  box-shadow: 0px 2px 50px rgba(173, 19, 47, 0.35);
  border-radius: 6px;
  cursor: pointer;

  font-family: var(--font-family-default);
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: var(--color-white);

  transition: background-color 0.3s;

  padding: 20px 30px;

  &:hover {
    background-color: #bd4258;

    transition: background-color 0.3s;
  }
}