@use "../mixins";

.reviews {
  padding: 80px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: initial;

    margin: 0;

    @include mixins.respond-to(notDesktop) {
      width: 90%;

      margin: 0 auto;
    }

    @include mixins.respond-to(onlyDesktopS) {
      width: 90%;

      margin: 0 auto;
    }

    @include mixins.respond-to(onlyDesktopD) {
      width: 90%;

      margin: 0 auto;
    }
  }

  &__title {
    display: inline-block;

    width: 100%;
    max-width: 1296px;

    font-weight: 800;
    font-size: 46px;
    line-height: 55px;
    color: #000000;

    margin: 0 auto 30px auto;

    @include mixins.respond-to(notDesktop) {
      width: 90%;
      max-width: initial;

      font-size: 25px;
      line-height: 30px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__documents-slider-container {
    position: relative;
  }

  &__documents-slider {
    width: 100%;
    max-width: 1296px;

    margin: 0 auto;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
    }

    @include mixins.respond-to(onlyDesktopS) {
      width: 100%;
    }

    @include mixins.respond-to(onlyDesktopD) {
      width: 100%;
    }
  }

  @media (min-width: 320px) and (max-width:1449px) {
    &__documents-slider-wrapper {
      margin: 0 0 30px 0;
    }
  }

  &__documents-slider-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 270px;

    & img {
      width: 300px;
      height: 270px;
      object-fit: cover;
    }

    @include mixins.respond-to(notDesktop) {
      width: 100%;

      & img {
        width: 100%;
      }
    }
  }

  &__documents-slider-arrows {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    justify-content: space-between;
    align-items: center;

    width: calc(1296px + 168px);
    height: 64px;
    user-select: none;
    pointer-events: none;

    transform: translate(-50%, -50%);

    z-index: 2;
  }

  @media (min-width: 1450px) {
    &__documents-slider-arrows {
      display: flex;
    }
  }

  &__documents-slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 64px;
    height: 64px;
    pointer-events: all !important;

    background-color: #FFFFFF;
    border: 1px solid rgba(211, 222, 229, 0.5);
    border-radius: 96px;

    transition: background-color 0.3s;

    &:hover {
      background-color: #AD132F;

      transition: background-color 0.3s;
    }
  }

  &__documents-slider-pagination {
    display: none;

    width: fit-content !important;

    margin: 0 auto;

    & .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1px solid #CDCDCD;

      transition: border 0.3s;
    }

    & .swiper-pagination-bullet-active {
      border: 5px solid #AD132F;

      transition: border 0.3s;
    }
  }

  @media (min-width: 320px) and (max-width:1449px) {
    &__documents-slider-pagination {
      display: block;
    }
  }

  &__people-slider {
    width: 100%;
    max-width: 1296px;

    margin: 0 auto;

    @include mixins.respond-to(notDesktop) {
      width: 100%;
      max-width: initial;
    }

    @include mixins.respond-to(onlyDesktopS) {
      width: 100%;
      max-width: initial;
    }

    @include mixins.respond-to(onlyDesktopD) {
      width: 100%;
      max-width: initial;
    }
  }

  &__people-slider-wrapper {
    margin: 0 0 40px 0;
  }

  &__people-slider-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 585px;
    height: auto;

    background-color: #FFFFFF;
    border: 1px solid rgba(211, 222, 229, 0.5);
    border-radius: 21px;

    padding: 60px 60px 50px 50px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      padding: 20px;
    }
  }

  &__people-slide-rating {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 0 0 16px 0;
  }

  &__people-slide-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #000000;

    margin: 0 0 16px 0;
  }

  &__people-slide-body {
    display: inline-block;

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #352C2D;

    margin: 0 0 24px 0;
  }

  &__people-slide-date {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #614E51;
  }

  &__people-slider-pagination {
    width: fit-content !important;

    margin: 0 auto;

    & .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1px solid #CDCDCD;

      transition: border 0.3s;
    }

    & .swiper-pagination-bullet-active {
      border: 5px solid #AD132F;

      transition: border 0.3s;
    }
  }
}