:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-shiraz: #ad132f;
	--color-fuzzy-wuzzy-brown: #c5596d;

	// Шрифты
	--font-family-default: 'Montserrat', system-ui, sans-serif;

	// Размер контейнера
	--container-width: 1300px;
}